modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Security Audit"

[[workflows.workflow]]
name = "Frontend Dev"
author = 22265372
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/frontend && npm run dev"

[[workflows.workflow]]
name = "Init Stage"
author = 22265372
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x scripts/init.sh && ./scripts/init.sh"

[[workflows.workflow]]
name = "Backend Dev"
author = 22265372
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/backend && npm run start:dev"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 22265372
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/frontend && npm run lint && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/backend && npm run lint && npm run start:dev"

[[workflows.workflow]]
name = "Lint & Format"
author = 22265372
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/frontend && npm run lint && npm run format"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ../../apps/backend && npm run lint && npm run format"

[[workflows.workflow]]
name = "Test"
author = 22265372
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/frontend && npm run test"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ../../apps/backend && npm run test"

[[workflows.workflow]]
name = "Build"
author = 22265372
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/frontend && npm audit && npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ../../apps/backend && npm audit && npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"✅ Build completed successfully!\""

[[workflows.workflow]]
name = "Setup NestJS"
author = 22265372
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/backend && npx @nestjs/cli new . --package-manager npm --language typescript --directory . --skip-git --skip-install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ../.."

[[workflows.workflow]]
name = "Security Audit"
author = 22265372
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/frontend && npm audit fix && npm audit"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ../../apps/backend && npm audit fix && npm audit"

[[ports]]
localPort = 3000
externalPort = 80
