
@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
  height: auto;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  /* Fix invalid CSS declarations with proper values */
  -webkit-text-size-adjust: 100%; /* Use valid value */
  -webkit-font-smoothing: antialiased; /* Use this instead of -moz-osx-font-smoothing */
  text-rendering: optimizeLegibility;
}
